<!DOCTYPE html>
<html lang="en">

<head>
    <title>Clustering App</title>

    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>

<body>

    <div class="container">
        <div class="header" style="padding-bottom: 20px">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="http://127.0.0.1:5000">Home</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Hierarchical Clustering</h3>
        </div>

        <div class="jumbotron">
            <div class="'container">

                <h4 style="text-align: center"> Hierarchical Clustering for blogdata.txt with 5 clusters </h4>
                    <h4 style="text-align: center"> Number of Blogs clustered 99. </h4>

            <img src="../static/blogclust.jpg" class="mx-auto d-block">
            </div>
        </div>


        <footer class="footer">
            <p>&copy;Bishwajit Halder & Chris Gkalfas 2019</p>
        </footer>

    </div>
</body>

</html>